@using SkillSharingApp_DAL.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Workshop
@{
    ViewData["Title"] = "Workshops";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div style="">
    <a asp-action="Index"><button class="btn btn-secondary">Back</button></a>

    <form method="post" asp-action="EditWorkshop" enctype="multipart/form-data">
        <input asp-for="Id" hidden type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp" placeholder="Enter Title">
        <div class="form-group">
            <div class="text-center">
                @foreach (var image in Model.Images)
                {
                    <div class="form-check form-check-inline">
                        <img src="@image.Path" alt="Workshop Image" width="220" height="200" />
                        <br />
                        <a asp-controller="Workshops" asp-action="DeleteImage" asp-route-workshopId="@image.WorkshopId" asp-route-imageId="@image.Id" class="btn btn-danger">X</a>
                    </div>
                }
            </div><br />
            <input asp-for="ImageFiles" name="ImageFiles" type="file" class="form-control" id="exampleInputImages" multiple>
            <span asp-validation-for="ImageFiles" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" for="exampleInputTitle">Title</label>
            <input asp-for="Title" name="Title" type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp" placeholder="Enter Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration" for="exampleInput">Duration</label>
            <input asp-for="Duration" name="Duration" type="number" class="form-control" id="exampleInputPassword1" placeholder="Duration">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location" for="exampleInputLocation">Location</label>
            <input asp-for="Location" name="Location" type="text" class="form-control" id="exampleInputLocation" aria-describedby="emailHelp" placeholder="Enter Location">
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Capacity" for="exampleInputCapacity">Capacity</label>
            <input asp-for="Capacity" name="Capacity" type="number" class="form-control" id="exampleInputCapacity" aria-describedby="emailHelp" placeholder="Enter Capacity">
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Availability" for="datetimePicker" class="form-label">Date and Time</label>
            <input asp-for="Availability" name="Availability" type="datetime-local" class="form-control" id="datetimePicker">
            <span asp-validation-for="Availability" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-left: 30px">
            <div class="form-check form-check-inline">
                <input asp-for="isVisible" name="isVisible" id="flexRadioDefault1" class="form-check-input" type="radio" value="1">
                <label asp-for="isVisible" class="form-check-label" for="flexRadioDefault1">Public</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="isVisible" name="isVisible" id="flexRadioDefault2" class="form-check-input" type="radio" value="0">
                <label asp-for="isVisible" class="form-check-label" for="flexRadioDefault2">Private</label>
            </div>
            <span asp-validation-for="isVisible" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
</div>