@using Microsoft.AspNetCore.Identity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityRole
@{
    ViewData["Title"] = "Workshops";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form asp-controller="Roles" asp-action="DeleteConfirmed" method="post">
    <div class="form-group">
        <input type="text" asp-for="Id" class="form-control" hidden id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">

        <label asp-for="Name" for="exampleInputEmail1">Name</label>
        <input asp-for="Name"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit">Delete</button>

</form>